openapi: 3.0.3
info:
  title: OctoStore API
  description: >-
    Simple coordination over HTTP. Elect one remote leader without an account,
    API key, or SDK. Use authenticated durable task locks on the production server,
    or self-host the same elections, locks, sessions, webhooks, and fencing terms
    in a single Rust binary backed by SQLite.
  version: 0.0.0-dev
  contact:
    name: OctoStore
    url: https://octostore.io
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.octostore.io
  description: Production server
- url: http://localhost:3000
  description: Development server
security:
- bearerAuth: []
paths:
  /elections:
    post:
      operationId: createElection
      tags:
      - Leader Elections
      summary: Create an account-free election room
      description: Generates a collision-resistant room ID. No login, API key, or request body is required.
      security: []
      responses:
        '201':
          description: Election room created
          content:
            application/json:
              schema:
                type: object
                required: [election_id, campaign_path, status_path, watch_path]
                properties:
                  election_id:
                    type: string
                    example: g15BTc54MStBoX-momDJm6uBhJQKKtqQ
                  campaign_path:
                    type: string
                  status_path:
                    type: string
                  watch_path:
                    type: string
                    description: Best-effort SSE stream for current election state
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
        '429':
          $ref: '#/components/responses/PublicElectionRateLimited'
  /elections/{election_id}/watch:
    get:
      operationId: watchElection
      tags:
      - Leader Elections
      summary: Watch current election state
      description: >-
        Best-effort Server-Sent Events stream. The first `state` event is a current
        snapshot. Later events are hints that re-read authoritative state. Duplicate
        states are allowed. The stream closes on lag, internal failure, or its configured
        maximum lifetime. It has no replay log, omits SSE IDs, and ignores Last-Event-ID;
        reconnecting clients must reconcile with GET /elections/{election_id} before acting.
      security: []
      parameters:
      - $ref: '#/components/parameters/ElectionId'
      responses:
        '200':
          description: Bounded election state stream
          content:
            text/event-stream:
              schema:
                type: string
              example: |-
                event: state
                retry:1000
                data: {"schema_version":1,"election_id":"g15BTc54MStBoX-momDJm6uBhJQKKtqQ","status":"vacant","leader":null,"retry_after_ms":0,"observed_at":"2026-08-02T12:00:00Z"}
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
        '429':
          $ref: '#/components/responses/PublicElectionRateLimited'
  /elections/{election_id}:
    get:
      operationId: getElectionStatus
      tags:
      - Leader Elections
      summary: Inspect the current leader
      description: Publicly returns the current leader, term, lease expiry, and recommended retry delay.
      security: []
      parameters:
      - $ref: '#/components/parameters/ElectionId'
      responses:
        '200':
          description: Current election state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectionStatus'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
  /elections/{election_id}/campaign:
    post:
      operationId: campaignForElection
      tags:
      - Leader Elections
      summary: Campaign for leadership
      description: The first live candidate becomes leader. Followers receive the current leader and a retry delay. No account or API key is required.
      security: []
      parameters:
      - $ref: '#/components/parameters/ElectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [candidate_id]
              properties:
                candidate_id:
                  type: string
                  minLength: 1
                  maxLength: 64
                  pattern: '^[A-Za-z0-9._:@-]+$'
                  example: worker-west-2
                ttl_seconds:
                  type: integer
                  minimum: 5
                  maximum: 300
                  default: 30
                metadata:
                  type: string
                  maxLength: 1024
                  example: model=gpt-5 task=release-1842
      responses:
        '200':
          description: Candidate is the leader or a follower
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ElectionLeaderResult'
                - $ref: '#/components/schemas/ElectionFollowerResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
        '409':
          $ref: '#/components/responses/PublicElectionCapacityExceeded'
        '429':
          $ref: '#/components/responses/PublicElectionRateLimited'
  /elections/{election_id}/renew:
    post:
      operationId: renewElectionLeadership
      tags:
      - Leader Elections
      summary: Renew leadership
      description: Extends the current term using the opaque leader capability returned by a winning campaign.
      security: []
      parameters:
      - $ref: '#/components/parameters/ElectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderAction'
      responses:
        '200':
          description: Leadership renewed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectionLeaderResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
        '404':
          $ref: '#/components/responses/LeaseNotCurrent'
  /elections/{election_id}/resign:
    post:
      operationId: resignElectionLeadership
      tags:
      - Leader Elections
      summary: Resign leadership
      description: Releases the current term immediately using its opaque leader capability.
      security: []
      parameters:
      - $ref: '#/components/parameters/ElectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [leader_token]
              properties:
                leader_token:
                  type: string
                  description: Opaque capability returned to the current leader
      responses:
        '200':
          description: Leadership resigned and the room is vacant
          content:
            application/json:
              schema:
                type: object
                required: [election_id, status, previous_term]
                properties:
                  election_id:
                    type: string
                  status:
                    type: string
                    enum: [vacant]
                  previous_term:
                    type: integer
                    format: int64
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/PublicElectionsDisabled'
        '404':
          $ref: '#/components/responses/LeaseNotCurrent'
  /auth/github:
    get:
      operationId: beginGitHubAuthentication
      tags:
      - Authentication
      summary: Initiate GitHub OAuth flow
      description: >-
        Issues a browser-bound, HttpOnly OAuth state cookie and redirects to GitHub.
        The state is single-use and expires after five minutes.
      security: []
      responses:
        '303':
          description: Redirect to GitHub OAuth
          headers:
            Location:
              schema:
                type: string
                example: https://github.com/login/oauth/authorize?client_id=...&state=...
            Set-Cookie:
              schema:
                type: string
              description: Secure, HttpOnly, SameSite=Lax, browser-bound OAuth state cookie
            Cache-Control:
              schema:
                type: string
                enum: [no-store]
        '409':
          $ref: '#/components/responses/CapacityExceeded'
  /auth/github/callback:
    get:
      operationId: completeGitHubAuthentication
      tags:
      - Authentication
      summary: GitHub OAuth callback
      description: >-
        Validates and consumes the query/cookie OAuth state, exchanges the GitHub code,
        and redirects with a 60-second single-use exchange code plus the validated issuing
        API origin in the URL fragment. The configured dashboard exchanges and retains
        that issuer for subsequent API requests. The API bearer token is never placed in
        Location.
      security: []
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
        description: OAuth authorization code from GitHub
      - name: state
        in: query
        required: true
        schema:
          type: string
        description: OAuth state parameter that must match the browser-bound cookie
      responses:
        '303':
          description: Authentication succeeded; redirect to the configured dashboard with a one-time code and issuing API origin
          headers:
            Location:
              schema:
                type: string
                example: https://octostore.io/dashboard.html#exchange_code=...&issuer=https%3A%2F%2Fapi.octostore.io
            Set-Cookie:
              schema:
                type: string
              description: Clears the one-time OAuth state cookie
            Cache-Control:
              schema:
                type: string
                enum: [no-store]
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/CapacityExceeded'
        '502':
          $ref: '#/components/responses/UpstreamUnavailable'
  /auth/github/exchange:
    post:
      operationId: exchangeGitHubAuthenticationHandoff
      tags:
      - Authentication
      summary: Exchange a one-time browser handoff code
      description: >-
        Consumes a single-use code from the dashboard URL fragment and returns the API bearer
        token once. Codes expire after 60 seconds. Responses are never cacheable.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [exchange_code]
              properties:
                exchange_code:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: One-time code exchanged
          headers:
            Cache-Control:
              schema:
                type: string
                enum: [no-store]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '400':
          $ref: '#/components/responses/ValidationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /auth/register:
    post:
      operationId: registerLocalUser
      tags:
      - Authentication
      summary: Register a local user
      description: >-
        Disabled by default. Available only when LOCAL_REGISTRATION=true, BIND_ADDR
        is an explicit numeric loopback address, and neither GitHub OAuth nor a static
        token source is configured. Creates a new local user and returns its bearer
        token once. Usernames are unique case-insensitively across local, static,
        and OAuth identities. Existing usernames fail with 409 and never return a
        stored token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  minLength: 1
                  maxLength: 64
                  pattern: '^[A-Za-z0-9_-]+$'
                namespace:
                  type: string
                  nullable: true
                  minLength: 1
                  maxLength: 64
                  pattern: '^[A-Za-z0-9._-]+$'
      responses:
        '200':
          description: Local user registered
          headers:
            Cache-Control:
              schema:
                type: string
                enum: [no-store]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalRegistration'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/token/rotate:
    post:
      operationId: rotateAuthenticationToken
      tags:
      - Authentication
      summary: Rotate bearer token
      description: Generate a new bearer token, invalidating the current one
      responses:
        '200':
          description: Token rotated successfully
          headers:
            Cache-Control:
              schema:
                type: string
                enum: [no-store]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /locks/{name}/acquire:
    post:
      operationId: acquireLock
      tags:
      - Locks
      summary: Acquire a lock
      description: 'Attempt to acquire a distributed lock with the given name.

        Returns the lock status and lease information if successful. An optional
        acquire ACL becomes sticky for this lock name and restricts future
        acquisitions to its listed principals. A first lease and its requested
        ACL are committed atomically: a persistence failure creates neither.

        '
      parameters:
      - $ref: '#/components/parameters/LockName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl_seconds:
                  type: integer
                  minimum: 1
                  maximum: 3600
                  default: 60
                  description: Lock time-to-live in seconds (max 1 hour)
                  example: 60
                metadata:
                  type: string
                  maxLength: 1024
                  description: >-
                    Optional non-secret owner or trace context for a new lease. An idempotent
                    same-holder reacquisition preserves and returns the current lease metadata.
                session_id:
                  type: string
                  format: uuid
                  description: >-
                    Optional session correlation. Ephemeral locks are revoked with the session;
                    non-ephemeral locks retain the authenticated user as their durable holder and
                    remain manageable after the session ends.
                ephemeral:
                  type: boolean
                  default: false
                  description: Release the lock when its owning session expires
                lock_delay_seconds:
                  type: integer
                  minimum: 0
                  maximum: 30
                  default: 0
                  description: Grace period before another caller may reacquire a released lock
                acl:
                  $ref: '#/components/schemas/LockAcl'
      responses:
        '200':
          description: Lock acquired by this principal or held by another principal
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/LockAcquired'
                - $ref: '#/components/schemas/LockHeld'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Caller is not included in the lock's acquire ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Lock is in its configured release delay, or the requested ACL conflicts
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/LockDelayed'
                - $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'
  /locks/{name}/acl:
    put:
      operationId: updateLockAcl
      tags:
      - Locks
      summary: Replace a lock's acquire ACL
      description: >-
        The exact current unexpired lock holder or an administrator may replace the sticky
        acquire ACL. Releasing and reacquiring the lock invalidates an in-flight holder update,
        even when the same principal later becomes holder again.
      parameters:
      - $ref: '#/components/parameters/LockName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - acl
              properties:
                acl:
                  $ref: '#/components/schemas/LockAcl'
      responses:
        '200':
          description: ACL replaced; token principals are redacted in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLockAclResponse'
        '400':
          description: ACL content failed semantic validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Caller is neither the current lock holder nor an administrator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/LockNotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /locks/{name}/release:
    post:
      operationId: releaseLock
      tags:
      - Locks
      summary: Release a lock
      description: Release a previously acquired lock using its lease ID
      parameters:
      - $ref: '#/components/parameters/LockName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lease_id:
                  type: string
                  format: uuid
                  description: Lease ID returned when lock was acquired
                  example: 550e8400-e29b-41d4-a716-446655440000
              required:
              - lease_id
      responses:
        '200':
          description: Lock released successfully
          content:
            application/json:
              schema:
                type: string
                nullable: true
              example: null
        '400':
          $ref: '#/components/responses/LeaseNotCurrent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LeaseNotCurrent'
        '422':
          $ref: '#/components/responses/ValidationError'
  /locks/{name}/renew:
    post:
      operationId: renewLock
      tags:
      - Locks
      summary: Renew a lock's TTL
      description: Extend the time-to-live of an existing lock
      parameters:
      - $ref: '#/components/parameters/LockName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lease_id:
                  type: string
                  format: uuid
                  description: Lease ID of the lock to renew
                  example: 550e8400-e29b-41d4-a716-446655440000
                ttl_seconds:
                  type: integer
                  minimum: 1
                  maximum: 3600
                  default: 60
                  description: New TTL in seconds (max 1 hour)
                  example: 300
              required:
              - lease_id
      responses:
        '200':
          description: Lock renewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewLockResponse'
        '400':
          $ref: '#/components/responses/LeaseNotCurrent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/LeaseNotCurrent'
        '422':
          $ref: '#/components/responses/ValidationError'
  /locks/{name}/watch:
    get:
      operationId: watchLock
      tags:
      - Locks
      summary: Watch lock state changes
      description: >-
        Best-effort authenticated Server-Sent Events stream of acquired, renewed,
        released, and expired events. The stream is not a durable log, has no replay
        contract, and closes if the subscriber lags. The first frame is a capability-free
        current-state snapshot: `acquired` when the lock is held or `released` when it is
        vacant. A transition racing with that snapshot may produce a duplicate state hint.
        Later frames describe observed transitions. Reconcile through GET /locks/{name}
        before acting or reconnecting. Each data field is JSON with `event`, `lock_name`,
        and `observed_at`, plus `fencing_token` and `expires_at` for acquired or renewed
        state. Frames never include lease IDs, session IDs, holder IDs, credentials, or
        caller metadata.
      parameters:
      - $ref: '#/components/parameters/LockName'
      responses:
        '200':
          description: Best-effort lock event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: >-
                  SSE wire frames whose data field is the capability-free JSON signal
                  described by this operation.
              example: |-
                data: {"event":"acquired","lock_name":"jobs/import","fencing_token":42,"expires_at":"2026-08-03T01:02:03Z","observed_at":"2026-08-03T01:01:03Z"}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/CapacityExceeded'
  /locks/{name}:
    get:
      operationId: getLockStatus
      tags:
      - Locks
      summary: Get lock status
      description: Check the current status of a specific lock
      parameters:
      - $ref: '#/components/parameters/LockName'
      responses:
        '200':
          description: Lock status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockStatus'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /locks:
    get:
      operationId: listLocks
      tags:
      - Locks
      summary: List locks by prefix
      description: |
        List all currently-held locks, optionally filtered by a hierarchical
        name prefix. Namespaced callers who omit `prefix` are automatically
        scoped to their own `<namespace>.` prefix and cannot enumerate other
        namespaces. Unscoped callers may list across names.
      parameters:
      - name: prefix
        in: query
        required: false
        schema:
          type: string
        description: 'Optional prefix to filter locks (e.g. "service/" or "db/primary")'
        example: service/
      responses:
        '200':
          description: List of matching locks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocksResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sessions:
    post:
      operationId: createSession
      tags:
      - Sessions
      summary: Create a new session
      description: 'Create a session with a keepalive TTL. Locks acquired with this
        session_id and ephemeral=true are automatically released when the session expires.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl_seconds:
                  type: integer
                  description: >-
                    Requested session TTL in seconds. The server defaults an omitted value to 60
                    and clamps supplied values into the inclusive 10–300 second range.
                  example: 60
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sessions/{id}/keepalive:
    post:
      operationId: keepSessionAlive
      tags:
      - Sessions
      summary: Extend session expiry
      description: Send a keepalive to extend the session TTL by its original duration
      parameters:
      - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session extended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeepAliveResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Session expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sessions/{id}:
    get:
      operationId: getSessionStatus
      tags:
      - Sessions
      summary: Get session status
      description: >-
        Returns details for a session owned by the authenticated caller, including
        the number of associated locks. Foreign and absent session IDs both return 404.
      parameters:
      - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: terminateSession
      tags:
      - Sessions
      summary: Terminate a session
      description: >-
        Explicitly close a caller-owned session and release its ephemeral locks.
        Non-ephemeral locks retain their independent lease TTL and remain manageable by
        their authenticated user principal.
      parameters:
      - $ref: '#/components/parameters/SessionId'
      responses:
        '204':
          description: Session terminated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks:
    post:
      operationId: createWebhook
      tags:
      - Webhooks
      summary: Create a webhook
      description: |
        Register a webhook to receive POST callbacks on lock events.
        URL must use HTTPS. Maximum 10 webhooks per user.
        By default, localhost plus private, link-local, and reserved literal or
        DNS-resolved addresses are rejected on every delivery attempt. A
        self-hosted operator may explicitly opt into private destinations with
        OCTOSTORE_WEBHOOK_ALLOW_PRIVATE_NETWORKS=true.
        Redirects are never followed. Callbacks are delivered only for locks
        owned by the authenticated webhook principal, including that user's
        active session-held locks.
        If a secret is provided, payloads are signed with HMAC-SHA256
        and the signature is sent in the X-OctoStore-Signature header.
        Callback bodies use the WebhookEvent schema. Its holder_id is a stable
        one-way pseudonym and is never an actionable user or session UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      callbacks:
        lockEvent:
          '{$request.body#/url}':
            post:
              operationId: receiveLockWebhookEvent
              summary: Receive an authorized OctoStore lock event
              parameters:
              - name: X-OctoStore-Signature
                in: header
                required: false
                schema:
                  type: string
                  pattern: '^sha256=[0-9a-f]{64}$'
                description: Present when the webhook was registered with a secret
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookEvent'
              responses:
                '2XX':
                  description: Callback accepted
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Invalid input (non-HTTPS URL or limit exceeded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listWebhooks
      tags:
      - Webhooks
      summary: List your webhooks
      description: Returns all webhooks registered by the authenticated user.
        Secrets are redacted in the response.
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/{id}:
    delete:
      operationId: deleteWebhook
      tags:
      - Webhooks
      summary: Delete a webhook
      description: Remove a previously registered webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Webhook UUID
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Webhook deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      operationId: getHealth
      tags:
      - System
      summary: Health check
      description: Simple health check endpoint
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /status:
    get:
      operationId: getPublicStatus
      tags:
      - System
      summary: Public service status
      security: []
      responses:
        '200':
          description: Public runtime counters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatus'
  /admin/status:
    get:
      operationId: getAdminStatus
      tags:
      - Operations
      summary: Detailed administrative status
      description: Requires an admin header, admin bearer key, or configured admin user token.
      security:
      - adminKey: []
      - bearerAuth: []
      responses:
        '200':
          description: Detailed server, lock, and user status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /metrics:
    get:
      operationId: getMetrics
      tags:
      - Operations
      summary: Current administrative metrics snapshot
      security:
      - adminKey: []
      - bearerAuth: []
      responses:
        '200':
          description: Current metrics snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/metrics/timeseries:
    get:
      operationId: getMetricsTimeseries
      tags:
      - Operations
      summary: Administrative metrics time series
      security:
      - adminKey: []
      - bearerAuth: []
      parameters:
      - name: window
        in: query
        required: false
        schema:
          type: string
          enum: [1h, 12h, 24h, 7d]
          default: 1h
        description: Requested in-memory metrics window. Unsupported values are rejected.
      responses:
        '200':
          description: Metrics time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMetricsTimeseries'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /openapi.yaml:
    get:
      operationId: getOpenApiDocument
      tags:
      - Documentation
      summary: Retrieve the versioned OpenAPI document
      security: []
      responses:
        '200':
          description: OpenAPI YAML with the running binary version
          content:
            application/yaml:
              schema:
                type: string
  /docs:
    get:
      operationId: getApiDocumentation
      tags:
      - Documentation
      summary: Open the static API reference
      security: []
      responses:
        '200':
          description: Read-only HTML API index linking to the versioned OpenAPI document
          content:
            text/html:
              schema:
                type: string
  /:
    get:
      operationId: getApiRootDocumentation
      tags:
      - Documentation
      summary: Open the static API reference
      security: []
      responses:
        '200':
          description: Read-only HTML API index linking to the versioned OpenAPI document
          content:
            text/html:
              schema:
                type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from optional GitHub OAuth or a self-hosted static token
    adminKey:
      type: apiKey
      in: header
      name: X-OctoStore-Admin-Key
      description: Self-hosted administrative key
  parameters:
    ElectionId:
      name: election_id
      in: path
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_-]{8,64}$
      description: Opaque generated room ID or a shared custom ID with at least 8 characters
      example: g15BTc54MStBoX-momDJm6uBhJQKKtqQ
    SessionId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Session UUID
      example: 550e8400-e29b-41d4-a716-446655440000
    LockName:
      name: name
      in: path
      required: true
      schema:
        type: string
        minLength: 1
      description: 'Hierarchical lock name using `/` as path separator. Components
        may contain Unicode alphanumeric characters, hyphens, underscores, and dots
        (max 64 UTF-8 bytes each; max 256 UTF-8 bytes total). Empty components and
        all other characters are rejected.'
      example: service/component/my-lock
  schemas:
    LocalRegistration:
      type: object
      required: [token, user_id, username, namespace]
      properties:
        token:
          type: string
          description: Bearer token; treat as a secret
        user_id:
          type: string
          format: uuid
        username:
          type: string
        namespace:
          type: string
          nullable: true
    AuthToken:
      type: object
      required: [token, user_id, github_username, namespace]
      properties:
        token:
          type: string
          description: New bearer token; treat as a secret
        user_id:
          type: string
          format: uuid
        github_username:
          type: string
        namespace:
          type: string
          nullable: true
    HealthStatus:
      type: object
      required: [status, storage, db_size_bytes]
      properties:
        status:
          type: string
          enum: [ok]
        storage:
          type: string
          enum: [wal]
        db_size_bytes:
          type: integer
          format: int64
          minimum: 0
    PublicStatus:
      type: object
      required: [status, uptime_seconds, active_locks, total_users, total_acquires, total_releases]
      properties:
        status:
          type: string
          enum: [ok]
        uptime_seconds:
          type: integer
          format: int64
          minimum: 0
        active_locks:
          type: integer
          minimum: 0
        total_users:
          type: integer
          minimum: 0
        total_acquires:
          type: integer
          format: int64
          minimum: 0
        total_releases:
          type: integer
          format: int64
          minimum: 0
    AdminUser:
      type: object
      additionalProperties: false
      required: [id, github_username, created_at]
      properties:
        id:
          type: string
          format: uuid
        github_username:
          type: string
        created_at:
          type: string
          format: date-time
    AdminLock:
      type: object
      additionalProperties: false
      required: [name, holder_username, metadata, fencing_token, expires_at, ttl_remaining_seconds]
      properties:
        name:
          type: string
          maxLength: 256
        holder_username:
          type: string
        metadata:
          type: string
          nullable: true
          maxLength: 1024
        fencing_token:
          type: integer
          format: int64
          minimum: 1
        expires_at:
          type: string
          format: date-time
        ttl_remaining_seconds:
          type: integer
          format: int64
          minimum: 0
    AdminStatus:
      type: object
      additionalProperties: false
      required: [healthy, uptime_seconds, active_locks, total_users, total_acquires, total_releases, locks, users]
      properties:
        healthy:
          type: boolean
          enum: [true]
        uptime_seconds:
          type: integer
          format: int64
          minimum: 0
        active_locks:
          type: integer
          minimum: 0
        total_users:
          type: integer
          minimum: 0
        total_acquires:
          type: integer
          format: int64
          minimum: 0
        total_releases:
          type: integer
          format: int64
          minimum: 0
        locks:
          type: array
          maxItems: 10000
          items:
            $ref: '#/components/schemas/AdminLock'
        users:
          type: array
          maxItems: 10000
          items:
            $ref: '#/components/schemas/AdminUser'
    AdminEndpointMetrics:
      type: object
      additionalProperties: false
      required: [count, avg_ms, p50_ms, p95_ms, p99_ms, errors, min_ms, max_ms]
      properties:
        count:
          type: integer
          format: int64
          minimum: 0
        avg_ms:
          type: string
          pattern: '^[0-9]+(?:\.[0-9]+)?$'
        p50_ms:
          type: string
          pattern: '^[0-9]+(?:\.[0-9]+)?$'
        p95_ms:
          type: string
          pattern: '^[0-9]+(?:\.[0-9]+)?$'
        p99_ms:
          type: string
          pattern: '^[0-9]+(?:\.[0-9]+)?$'
        errors:
          type: integer
          format: int64
          minimum: 0
        min_ms:
          type: integer
          format: int64
          minimum: 0
        max_ms:
          type: integer
          format: int64
          minimum: 0
    AdminEndpointMetricsSet:
      type: object
      additionalProperties: false
      required: [acquire, release, renew, status, list, auth, election]
      properties:
        acquire:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        release:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        renew:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        status:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        list:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        auth:
          $ref: '#/components/schemas/AdminEndpointMetrics'
        election:
          $ref: '#/components/schemas/AdminEndpointMetrics'
    AdminLockStoreMetrics:
      type: object
      additionalProperties: false
      required: [total_acquires, total_releases, total_expirations, cache_hits, cache_misses]
      properties:
        total_acquires:
          type: integer
          format: int64
          minimum: 0
        total_releases:
          type: integer
          format: int64
          minimum: 0
        total_expirations:
          type: integer
          format: int64
          minimum: 0
        cache_hits:
          type: integer
          format: int64
          minimum: 0
        cache_misses:
          type: integer
          format: int64
          minimum: 0
    AdminMetrics:
      type: object
      additionalProperties: false
      required: [uptime_seconds, total_requests, requests_per_second, active_locks, total_users, endpoints, lock_store, memory_bytes]
      properties:
        uptime_seconds:
          type: integer
          format: int64
          minimum: 0
        total_requests:
          type: integer
          format: int64
          minimum: 0
        requests_per_second:
          type: number
          format: double
          minimum: 0
        active_locks:
          type: integer
          minimum: 0
        total_users:
          type: integer
          minimum: 0
        endpoints:
          $ref: '#/components/schemas/AdminEndpointMetricsSet'
        lock_store:
          $ref: '#/components/schemas/AdminLockStoreMetrics'
        memory_bytes:
          type: integer
          format: int64
          minimum: 0
    AdminMetricsTimeseries:
      type: object
      additionalProperties: false
      required: [window, timestamps, request_volume, acquire_rates, release_rates, active_locks]
      properties:
        window:
          type: string
          enum: [1h, 12h, 24h, 7d]
        timestamps:
          type: array
          maxItems: 10080
          items:
            type: integer
            format: int64
            minimum: 0
        request_volume:
          type: array
          maxItems: 10080
          items:
            type: integer
            format: int64
            minimum: 0
        acquire_rates:
          type: array
          maxItems: 10080
          items:
            type: integer
            format: int64
            minimum: 0
        release_rates:
          type: array
          maxItems: 10080
          items:
            type: integer
            format: int64
            minimum: 0
        active_locks:
          type: array
          maxItems: 10080
          items:
            type: integer
            format: int64
            minimum: 0
    LockAcl:
      type: object
      description: Sticky allowlist controlling who may acquire a lock
      required:
      - acquire
      properties:
        acquire:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
            maxLength: 256
            pattern: '^(user:[A-Za-z0-9-]{1,64}|token:.+)$'
          description: Usernames or bearer tokens. Token values are redacted in responses.
          example:
          - user:deploy-bot
          - token:another-bearer-token
    UpdateLockAclResponse:
      type: object
      required:
      - name
      - acl
      properties:
        name:
          type: string
        acl:
          $ref: '#/components/schemas/LockAcl'
    ElectionLeader:
      type: object
      required: [candidate_id, term, expires_at]
      properties:
        candidate_id:
          type: string
          example: agent-west-2
        metadata:
          type: string
          nullable: true
        term:
          type: integer
          format: int64
          description: Monotonic fencing term. Downstream systems can reject work from older terms.
        expires_at:
          type: string
          format: date-time
    ElectionStatus:
      type: object
      required: [election_id, status, retry_after_ms]
      properties:
        election_id:
          type: string
        status:
          type: string
          enum: [leader, vacant]
        leader:
          type: object
          allOf:
          - $ref: '#/components/schemas/ElectionLeader'
          nullable: true
        retry_after_ms:
          type: integer
          format: int64
          minimum: 0
    ElectionLeaderResult:
      type: object
      required: [status, election_id, leader, leader_token, renew_after_ms]
      properties:
        status:
          type: string
          enum: [leader]
        election_id:
          type: string
        leader:
          $ref: '#/components/schemas/ElectionLeader'
        leader_token:
          type: string
          description: Secret bearer capability required to renew or resign this term
        renew_after_ms:
          type: integer
          format: int64
          minimum: 0
    ElectionFollowerResult:
      type: object
      required: [status, election_id, leader, retry_after_ms]
      properties:
        status:
          type: string
          enum: [follower]
        election_id:
          type: string
        leader:
          $ref: '#/components/schemas/ElectionLeader'
        retry_after_ms:
          type: integer
          format: int64
          minimum: 0
    LeaderAction:
      type: object
      required: [leader_token]
      properties:
        leader_token:
          type: string
          description: Secret bearer capability returned to the current leader
        ttl_seconds:
          type: integer
          minimum: 5
          maximum: 300
          default: 30
    LockAcquired:
      type: object
      required: [status, lease_id, fencing_token, expires_at, renew_after_ms, metadata]
      properties:
        status:
          type: string
          enum: [acquired]
        lease_id:
          type: string
          format: uuid
          description: Secret lease capability retained by the holder
        fencing_token:
          type: integer
          format: int64
          minimum: 1
          description: >-
            Monotonic lease generation within this OctoStore authority. Compare only
            generations for the same protected resource and authority.
        expires_at:
          type: string
          format: date-time
        renew_after_ms:
          type: integer
          format: int64
          minimum: 0
          description: Recommended renewal delay measured locally from this response
        metadata:
          type: string
          nullable: true
          maxLength: 1024
    LockHeld:
      type: object
      required: [status, holder_id, expires_at, retry_after_ms, metadata]
      properties:
        status:
          type: string
          enum: [held]
        holder_id:
          type: string
          format: uuid
          description: >-
            Stable public pseudonym for the current holder. It is not a session identifier and
            cannot be used with session status, keepalive, or termination endpoints.
        expires_at:
          type: string
          format: date-time
        retry_after_ms:
          type: integer
          format: int64
          minimum: 0
        metadata:
          type: string
          nullable: true
          maxLength: 1024
    LockDelayed:
      type: object
      required: [status, available_at, lock_delay_seconds, retry_after_ms]
      properties:
        status:
          type: string
          enum: [delayed]
        available_at:
          type: string
          format: date-time
        lock_delay_seconds:
          type: integer
          minimum: 0
          maximum: 30
        retry_after_ms:
          type: integer
          format: int64
          minimum: 0
    RenewLockResponse:
      type: object
      required: [lease_id, expires_at, renew_after_ms]
      properties:
        lease_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
        renew_after_ms:
          type: integer
          format: int64
          minimum: 0
    LockStatus:
      type: object
      required: [name, status, holder_id, fencing_token, expires_at, metadata]
      properties:
        name:
          type: string
        status:
          type: string
          enum: [free, held]
        holder_id:
          type: string
          format: uuid
          nullable: true
          description: >-
            Stable public pseudonym for the current holder, or null while free. It is not an
            actionable session identifier.
        fencing_token:
          type: integer
          format: int64
          description: Current or most recently allocated fencing generation
        expires_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: string
          nullable: true
        acl:
          type: object
          allOf:
          - $ref: '#/components/schemas/LockAcl'
          nullable: true
          description: Sticky acquire ACL when configured. Token principals are redacted.
    ListLocksResponse:
      type: object
      required: [locks, total, prefix]
      properties:
        locks:
          type: array
          items:
            $ref: '#/components/schemas/LockStatus'
        total:
          type: integer
          description: Total number of locks returned
          example: 5
        prefix:
          type: string
          nullable: true
          description: >-
            The prefix filter that was applied. For a namespaced caller, an omitted
            prefix defaults to that caller's namespace; null is possible only for an
            unscoped caller that omitted the filter.
          example: service/
    CreateSessionResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Unique session identifier
        expires_at:
          type: string
          format: date-time
          description: Session expiration time
        keepalive_interval_secs:
          type: integer
          description: Recommended keepalive interval (ttl / 2)
      required:
      - session_id
      - expires_at
      - keepalive_interval_secs
    KeepAliveResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
      required:
      - session_id
      - expires_at
    SessionStatusResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
        lock_count:
          type: integer
          description: Number of locks held by this session
        active:
          type: boolean
          description: Whether the session is still active
      required:
      - session_id
      - user_id
      - expires_at
      - lock_count
      - active
    CreateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTPS URL to POST event payloads to
          example: https://example.com/hooks/octostore
        secret:
          type: string
          description: Optional HMAC-SHA256 signing secret
          example: my-secret-key
        events:
          type: array
          items:
            type: string
            enum:
            - acquired
            - released
            - expired
            - renewed
            - '*'
          description: 'Event types to subscribe to (default: ["*"])'
          example:
          - acquired
          - released
        lock_pattern:
          type: string
          description: 'Glob pattern to filter locks (e.g. "service/*"). Omit for
            all locks.'
          example: service/*
      required:
      - url
    WebhookResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Webhook identifier
        user_id:
          type: string
          format: uuid
          description: Owner user ID
        url:
          type: string
          format: uri
          description: Callback URL
        secret:
          type: string
          nullable: true
          description: Redacted secret (shown as "****" if set)
        events:
          type: array
          items:
            type: string
          description: Subscribed event types
        lock_pattern:
          type: string
          nullable: true
          description: Lock name glob pattern
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        active:
          type: boolean
          description: Whether the webhook is active
      required:
      - id
      - user_id
      - url
      - events
      - created_at
      - active
    WebhookEvent:
      type: object
      additionalProperties: false
      description: JSON body POSTed to an authorized webhook callback
      required: [event, lock, holder_id, fencing_token, timestamp]
      properties:
        event:
          type: string
          enum: [acquired, released, renewed, expired]
        lock:
          type: string
          maxLength: 256
        holder_id:
          type: string
          format: uuid
          nullable: true
          description: Stable one-way holder pseudonym; never an actionable user or session capability
        fencing_token:
          type: integer
          format: int64
          minimum: 1
          nullable: true
        timestamp:
          type: string
          format: date-time
    Error:
      type: object
      required: [error, code, details, request_id]
      properties:
        error:
          type: string
          description: Safe human-readable summary; not a parsing contract
        code:
          type: string
          description: Stable machine-readable error code
          enum:
          - authentication_required
          - authentication_failed
          - forbidden
          - invalid_input
          - invalid_ttl
          - invalid_lock_name
          - not_found
          - session_expired
          - lease_not_current
          - conflict
          - capacity_exceeded
          - lock_limit_exceeded
          - rate_limited
          - upstream_unavailable
          - internal_error
        details:
          type: string
          description: Safe client-action context with internal diagnostics removed
        retry_after_ms:
          type: integer
          format: int64
          minimum: 0
          description: Present only when retrying is meaningful
        request_id:
          type: string
          pattern: '^req_[0-9a-f]{32}$'
          description: Server-generated correlation ID matching X-Request-Id
  headers:
    RequestId:
      description: Server-generated request correlation ID
      schema:
        type: string
        pattern: '^req_[0-9a-f]{32}$'
  responses:
    CapacityExceeded:
      description: A bounded server registry has reached capacity
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        Retry-After:
          description: Seconds before the client should retry admission
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Capacity exceeded
            code: capacity_exceeded
            details: 'Capacity exceeded: Watch registry capacity reached; retry after idle streams close'
            retry_after_ms: 1000
            request_id: req_0123456789abcdef0123456789abcdef
    PublicElectionRateLimited:
      description: The client or global public election watch admission bound was reached
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        Retry-After:
          description: Seconds before attempting another watch admission
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Rate limit exceeded
            code: rate_limited
            details: Rate limit exceeded; retry in 42 seconds
            retry_after_ms: 42000
            request_id: req_0123456789abcdef0123456789abcdef
    PublicElectionCapacityExceeded:
      description: Configured active public-election capacity has been reached
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
        Retry-After:
          description: Seconds before the client should re-check capacity
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Capacity exceeded
            code: capacity_exceeded
            details: 'Capacity exceeded: Public election capacity reached; retry later or self-host OctoStore'
            retry_after_ms: 30000
            request_id: req_0123456789abcdef0123456789abcdef
    PublicElectionsDisabled:
      description: Public elections are disabled on this server
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Forbidden
            code: forbidden
            details: 'Forbidden: Public elections are disabled on this server'
            request_id: req_0123456789abcdef0123456789abcdef
    Unauthorized:
      description: Invalid or missing authentication token
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Authorization header required
            code: authentication_required
            details: Bearer token required
            request_id: req_0123456789abcdef0123456789abcdef
    Forbidden:
      description: The current credential or capability lacks authority
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ConflictError:
      description: The requested resource already exists or conflicts with current state
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Conflict
            code: conflict
            details: 'Conflict: local registration is unavailable for that username'
            request_id: req_0123456789abcdef0123456789abcdef
    LockNotFound:
      description: Lock not found or not owned by caller
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Lock not found
            code: not_found
            details: 'Lock not found: example-lock'
            request_id: req_0123456789abcdef0123456789abcdef
    LeaseNotCurrent:
      description: Lease capability is malformed, stale, expired, or not current; authority is not held
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Lease is not current
            code: lease_not_current
            details: Invalid lease ID
            request_id: req_0123456789abcdef0123456789abcdef
    ValidationError:
      description: Request validation failed
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalid_ttl:
              summary: Invalid TTL
              value:
                error: Invalid TTL
                code: invalid_ttl
                details: 'Invalid TTL: TTL must be between 1 and 3600 seconds'
                request_id: req_0123456789abcdef0123456789abcdef
            invalid_uuid:
              summary: Invalid lease ID
              value:
                error: Invalid input
                code: invalid_input
                details: Invalid input
                request_id: req_0123456789abcdef0123456789abcdef
    UpstreamUnavailable:
      description: A required upstream service failed
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server failure with diagnostics redacted
      headers:
        X-Request-Id:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Internal server error
            code: internal_error
            details: Internal server error
            request_id: req_0123456789abcdef0123456789abcdef
tags:
- name: Leader Elections
  description: Account-free, capability-based leader election over HTTP
- name: Authentication
  description: GitHub OAuth and token management
- name: Sessions
  description: Session management with keepalive
- name: Locks
  description: Distributed lock operations
- name: Webhooks
  description: Webhook registration and management for lock event callbacks
- name: System
  description: System health and status
- name: Operations
  description: Authenticated administrative status and metrics
- name: Documentation
  description: Versioned OpenAPI contract and read-only HTML index
